// global app styles
$mainBGColor = white;

// Colors
$primaryColor = #0076B6;
$primaryColorAlpha = #BFBFBF;
$primaryColorAlphaSemi = #F2FBFE;
$primaryColorAlphaXtra = #BEDEE6;
$secondaryColor = #00395D;
$tertiaryColor = #F2F5F7;
$quartaryColor = #7F7F7F;
$primaryColorLight = #BFCDD6;
$secondaryColorLight = #BDD6DC;
$primaryHighlight = #BDD6DD;
$secondaryHighlightAlpha = rgba(31, 160, 183, 0.13);

$lightBgColor = #F8F8F8;
$neutralColor = #E5EBEE;
$lightTextColor = #FCFFFF;

$text1Color = #B1B8BF;
$text2Color = #333333;
$text3Color = #4E545A;
$text4Color = #07161F;
$text5Color = #042E45;
$text6Color = #666666;

$darkBgColor = #07161F;
$secondaryBgColor = #242C34;
$tertiaryBgColor = #979797;

$errorColor = #F6514F;
$approveColor = #40A24E;
$pendingColor = #56616B;
$declinedColor = #F6514F;
$expiredColor = #07161F;

$avatar1Color = #F98A43;
$avatar2Color = #F9710A;
$avatar3Color = #E54AB6;
$avatar4Color = #9945CF;
$avatar5Color = #874EF2;
$avatar6Color = #3C25D6;
$avatar7Color = #006FE9;
$avatar8Color = #43BAF9;
$avatar9Color = #3CD6DD;

// Size
$sidenavWidth = 200px
$toolbarHeight = 99px;
$toolbarLogoHeight = 39px;
$toolbarLogoWidth = 154px;
$minDialogWidth = 600px;

$fontFamily = "Muli";

$fontSizeMax = 24px;
$fontSizeXXLG = 20px;
$fontSizeLG = 18px;
$fontSizeLG-X = 17px;
$fontSizeMD = 16px;
$fontSizeMD-X = 15px;
$fontSizeSM = 14px;
$fontSizeSM-X = 13px;
$fontSizeXSM = 12px;
$fontSizeXSM-X = 11px;

$contentMinHeight = 300px;
$cardWidthLarge = 360px;
$cardWidthSmall = 276px;
