@import '../../../global.styl'

.spacer
  flex 1 1 auto

.small
  font-size 12px

.bcxToolbar
  background white
  border-bottom 1px solid $neutralColor
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14)
  .bcxToolbar__login
    color $secondaryColor
    padding-left 16px
    cursor pointer
    font-size $fontSizeLG-X
  .bcxToolbar__person
    cursor pointer
    imgBackgroundUrl(s('../../../assets/%s/person-icon.svg', $theme), no-repeat)
    width 16px
    height 18px
    padding-right 8px
  .bcxToolbar__loginDetails
    color $secondaryColor
    font-size $fontSizeLG-X

.bcx__logo
  imgBackgroundUrl(s('../../../assets/%s/logo.svg', $theme), no-repeat)
  width 32px
  height 32px
  padding-right 16px

.bcx__title
  cursor pointer
  color $secondaryColor
  font-size 22px
