<div>
    <button md-icon-button class="bcxBurgerMenu" (click)="sidenav.toggle()">
        <md-icon class="bcxBurgerMenu__icon" aria-label="Open menu">menu</md-icon>
    </button>

    <md-sidenav #sidenav
                class="bcxMdSidenav"
                (mode)="sideNavMode"
                opened = "!isSmall">
        <md-nav-list class="bcxSidebar">
            <md-list-item *ngFor="let item of items"
                          (click)="goTo(item)"
                          class="bcxSidebar-item"
                          [ngClass]="{ 'selected': item.selected }">
                <h4 fxFlex>{{item.name}}</h4>
                <div> > </div>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
</div>
